*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar-container{
    width: 15%;
    height: 100vh;
    background-color: rgba(127, 255, 212, 0.351);
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.logo{
    width: 50px;
}
.logo img{
    width: 100%;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.link a{
    margin: 10px;
    color: #2b2b2b;
    text-decoration: none;
}
.link a:hover{
    color: #2b2bb2;
}
.avatar{
    width: 50px;
}
.avatar img{
    width: 100%;
}
span{
    display: block;
}
.container-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}



