.grid-container{
<<<<<<< HEAD
   grid-template-columns: repeat(3, 1fr); 
   grid-template-rows: repeat(4, 1fr);
   /*  display: grid;
    grid-template-areas: 
                         "g g g"
                         "y r b"
                         "o o b"; */
    
}

 #yellow{
    
   /* grid-area: y ; */
}
#red{
    /* grid-area: r ; */
}
#orange{
   /*  grid-area: o; */
}
#blue{
   /*  grid-area: b; */
}
#green{
   /*  grid-area: g; */
}


 */
=======
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1 fr) ;
}
#green{
    grid-column: span 3;
}
.first-line{
    display: flex;
}
.second-line{
    display: flex;
}

#orange{
    grid-column: span 2;
}
#blue{
   grid-row: span 2;
}
ul li{
    width: 40px;
}
>>>>>>> 1cfce9faafa990746752f1eee8dc142efd5a6ac7
