.grid-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1 fr) ;
}
#green{
    grid-column: span 3;
}
.first-line{
    display: flex;
}
.second-line{
    display: flex;
}

#orange{
    grid-column: span 2;
}
#blue{
   grid-row: span 2;
}
ul li{
    width: 40px;
}